---
import Page from './page.astro'

const { content } = Astro.props
---

<Page title={content.title}>
    <article>
        <h1>{content.title}</h1>
        <dl class="resource-info">
            <dt>Author</dt>
            <dd>{content.author}</dd>
            <dt>Resource</dt>
            <dd><a href={content.resourceUrl}>{content.title}</a></dd>
        </dl>
        <slot></slot>
    </article>
</Page>

<style>
    .resource-info {
        display: grid;
        grid-template-columns: auto 1fr;
        font-size: var(--font-sz-venus);
        padding-left: var(--sp-st-s);
        border-left: var(--sp-st-be) solid var(--c-neutral);
    }

    .resource-info dt {
        font-weight: bold;
    }

    .resource-info dt::after {
        content: ':';
    }
</style>